<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Train</title>

    <link rel="shortcut icon" href="/public/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/public/favicon.ico" type="image/x-icon">
  </head>
  <body>
    <h2>Train A Rider!</h2>

    <form class="dragon-form" action="/riders" method="post">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

      <label for="rider-fname">Rider First Name: </label>
      <input type="text" id='rider-fname' class='rider-name-input' name="rider[fname]" value="">

      <label for="rider-lname">Rider First Name: </label>
      <input type="text" id='rider-lname' class='rider-name-input' name="rider[lname]" value="">


      <input type="submit" name="" value="Train a Rider!">
    </form>

    <a href="/riders" class='rider-directory-anchor'>Back to Riders Directory</a>
  </body>
</html>
