.dragon-picture {
  height: 100%;
  width: 100%;
  /*border: 1px solid black;*/
}

.dragon-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  /*border: 1px solid black;*/
}

.dragons-list {
  display: flex;
  flex-direction: row;
  /*border: 1px solid black;*/
}

.dragon-picture-container {
  height: 30%;
  width: 30%;
  /*border: 1px solid black;*/
}

.dragon-show-picture {
  height: 70vh;
  width: 70vh;
}

.dragon-info {
  display: flex;
  flex-direction: column;
  margin-bottom: 5%;
}
