.dragons-list {
  display: inline;

  display: flex;
  flex-direction: row;
  width: 100vh
  overflow-x: scroll;
  overflow-y: hidden;
}

.dragon-container {

  display: flex;
  flex-direction: column;

}

.dragon-picture-container {

  margin-right: 5%
}


.dragon-picture {
  height: 80vh;
  width: 80vh;
  margin-left: 10vh;
  margin-right: 10vh;

}

.dragon-name {
  margin-left: 10vh;
  margin-right: 10vh;

}


/* Show */

.dragon-show-picture {
  height: 70vh;
  width: 70vh;
  border: 10px solid black;
  border-radius: 4px;
  margin: 2%;
}

.dragon-info {
  display: flex;
  flex-direction: row;
}

.memory-container {
  display: flex;
  flex-direction: column;
  margin: 2%;
}

.memories-list {
  margin: 0;
  padding: 0;
}

.rider-name {
  margin-right: 2%;
}
