<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>
      Dragons
    </title>
    <link rel="stylesheet" href="public/dragons.css">
  </head>


  <body>
    <h1>Here be Dragons</h1>
    <div class='dragons-list'>
    <% @dragons.each do |dragon| %>
      <div class='dragon-container'>

          <img class='dragon-picture' src="<%= dragon.picture_url %>" alt="A dragon">

        
          <a href='<%= "dragons/#{dragon.id}" %>' class='dragon-name'><%= dragon.name %></a>

      </div>
    <% end %>
  </div>
  </body>

</html>
