<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= @dragon[:name]%></title>
  </head>
  <body>
    <h1><%= @dragon[:name] %></h1>
    <img class='dragon-picture' src="<%= @dragon[:picture_url] %>" alt="A dragon">
  </body>
</html>
